{% extends 'base.html' %}
{% block title %} Informacion Producto {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion-productos.css') }}"> {% endblock %}

{% block content %}

<h1 style="text-align: center;">Información Productos</h1>
        <div class="info-container" id="informacionProducto">
            <p> Tipo: Fruta</p>
            <p> Producto(s): Frambuesa </p>
            <p> Descripcion: Deléitate con nuestras jugosas frambuesas, ofrcemos máximo sabor y frescura. </p> <!--Se agrega item faltante de la tarea 1-->
            <p> Región: Región Metropolitana de Santiago </p>
            <p> Comuna: Vitacura</p>
            <p> Foto: <img id="fotoProducto" src="../img/Frambuesa.jfif" alt="Frambuesa" width="640" height="480"></p>
            <p> Nombre Productor: Mrs. Frambuecita</p> <!--Se agrega item faltante de la tarea 1-->
            <p> Email Productor: raspberry@gmail.com</p> <!--Se agrega item faltante de la tarea 1-->
            <p> Telefono Productor: +56912345678</p> <!--Se agrega item faltante de la tarea 1-->
           
           
        </div>
        <div class="button-container" style="text-align: center;">
            <button  type="button" id="menu" onclick="location.href='/'">Volver al Menú</button>
        </div>
{% endblock %}
{% block javascript %} <script  src="{{ url_for('static', filename='js/informacion-productos.js') }}"></script> {% endblock %}