{% extends 'base.html' %}
{% block title %} Informacion Producto {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/informacion-productos.css') }}"> {% endblock %}

{% block content %}

<h1 style="text-align: center;">Información Productos</h1>
        <div class="info-container" id="informacionProducto">
            {% if info_producto %}
                <p>Tipo: {{ info_producto['tipo'] }}</p>
                <p>Producto(s): {% for prod in info_producto['productos'] %}
                    {{ prod[0] }}{% if not loop.last %}, {% endif %}
                {% endfor %}</p>
                <p>Descripción: {{ info_producto['descripcion'] }}</p>
                <p>Región: {{ info_producto['region'][0][0] }}</p>
                <p>Comuna: {{ info_producto['comuna'] [0][0]}}</p>
                <p> Foto:
                 {% for foto in info_producto['fotos'] %}
                <!-- <img src = "static/uploads/" + foto[0]> <br> -->
                <img id="fotoProducto" src ="{{ url_for('static', filename='uploads/' + foto[1] + '.jpg') }}"><br>
                 {% endfor %} 
                </p>
                <p>Nombre productor: {{ info_producto['nombre_productor'] }}</p>
                <p>Email productor: {{ info_producto['email_productor'] }}</p>
                <p>Número productor: {{ info_producto['numero_productor'] }}</p>
            
        {% else %}
            <h2>Producto no encontrado</h2>
        {% endif %}

        </div>
        <div class="button-container" style="text-align: center;">
            <button  type="button" id="menu" onclick="location.href='/'">Volver al Menú</button>
        </div>
{% endblock %}
{% block javascript %} <script  src="{{ url_for('static', filename='js/informacion-productos.js') }}"></script> {% endblock %}