<!-- {% extends 'base.html' %}
{% block title %} Gráficos Generales de Pedidos {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grafico-pedidos.css') }}"> {% endblock %}

{% block content %}
<div class="container" id="graficoPedidos">
    <h1 style="text-align: center;">Gráfico General de Pedidos</h1>
    <div class="grafico" id="grafico"></div>
</div>

<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="container_pedidos"></div>
        <p class="highcharts-description">
            Gráfico de barras que muestra la cantidad de pedidos realizados por comuna.
        </p>
    </figure>

</div>


<div class="button-container" style="text-align: center;">
    <button  type="button" id="menu" onclick="location.href='/'">Volver al Menú</button>
</div>
{% endblock %}
{% block javascript %} 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script  src="{{ url_for('static', filename='js/grafico-pedidos.js') }}"></script>
{% endblock %} -->