<!-- {% extends 'base.html' %}
{% block title %} Gráficos Generales de Productos {% endblock %}
{% block css %} <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grafico-productos.css') }}"> {% endblock %}

{% block content %}
<div class="container" id="graficoProductos">
    <h1 style="text-align: center;">Resumen de Productos</h1>
    <div class="grafico" id="grafico"></div>

<div class="stats-container">
    <figure class="highcharts-figure">
        <div id="container_productos"></div>
        <p class="highcharts-description">
            Gráfico de barras que muestra la cantidad de productos por categoría.
        </p>
    </figure>

</div>
</div>


<div class="button-container" style="text-align: center;">
    <button  type="button" id="menu" onclick="location.href='/'">Volver al Menú</button>
</div>
{% endblock %}
{% block javascript %} 
<script src="https://code.highcharts.com/highcharts.js"></script>
<script  src="{{ url_for('static', filename='js/grafico-productos.js') }}"></script>
{% endblock %} -->