:root {
    background-image: url(../img/fondo.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    --color-borde-principal: #6dd843;
    --color-borde-interno:#7CB342;
  }

  .container {
    border: 3px solid var(--color-borde-principal);
    height: 100%;
    width: 50% ;
    margin: 2% auto;
    padding: 2rem;
    padding-top: .5rem;
  
    background-color: #fdfdfd;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    }
    select, input, textarea{
        background-color: #fbfbfb; 
        width: 100% ; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #6dd843; 
        margin-top: 10px;  
        
        margin-bottom: 20px;
         
      }
label {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    
}
.button-container {
    text-align: center;

}
button {
    display: inline-block;
    border-radius: 40px;
    background-color: #6656eead;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20px;
    width: 40%;
    cursor: pointer;
    margin: 20px 5px;
}

.btn{
    padding: 10px 60px;
    background-color: rgb(127, 161, 255);
    border: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 40px;
    font-weight: bold;
}

.popup{
    width: 30%;
    background: white;
    border-radius: 40px;
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1); /* Centrar horizontalmente y ajustar verticalmente */
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.popupbutton{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #eab2f1;
    color: black;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}
.error {
    color: black;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff919196;
    border-color: black;
    position: relative;
    top: 50%; 
    left: 50%; 
    transform: translate(-50% , 0%);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.errorcss{
    border-color: red;
}