:root {
    background-color:rgb(199, 230, 255);

    
    --color-borde-principal: #00838F;
    --color-borde-interno:#7CB342;
}
body{
    max-height:100%;
}

.info-container{
    border: 3px solid var(--color-borde-principal);
    max-width: 100%;
    
    margin: 2% auto;
    padding: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #ffffffa2;
    box-sizing: border-box;
   
}
#informacionProducto{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}
img{
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




button {
    display: inline-block;
    border-radius: 40px;
    background-color: whitesmoke;
    border: 3px solid var(--color-borde-principal);
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px ;
    width: 20%;
    cursor: pointer;
    margin: 20px 5px;
}

/* #fotoProducto {
    width: 640px;
    height: 480px;
} */